<html>
<head></head>
<body>
    <p><%= "#{guess} #{guess.nil? ? '' : 'is'} #{message}" %></p>
    <p>The SECRET NUMBER is <%= number.to_s.rjust(2,'0') %></p>
<form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>
</body>
</html>
